# Ne pas partager le fichier sparkapi.ini sur GitHub
# Ce fichier est censé contenir des informations sensibles
#   comme l'access_token et des core_id
config.ini
console.startup
console.sh
cachefile.pkl
logfile.log
pushgit.sh

lcdmtrx
test
pypcl

*.debug.xml

# Ignorer les fichier python compilé
*.pyc

